<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title 
        |Whatever
    link(rel="stylesheet", href="/static/css/style.css")
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.css")
body
    block body