doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		title TellUs
		// Bootstrap core CSS
		link(href='/libs/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
		link(rel="stylesheet", href="/static/css/style.css")
		link(rel='icon', href='/static/images/icon.png')
		// Custom styles for this template
		// Temporary navbar container fix
		style.
			.navbar-toggler {
			z-index: 1;
			}
			@media (max-width: 576px) {
			nav > .container {
			width: 100%;
			}
			}
	body
		nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse.bg-inverse
			button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarExample', aria-controls='navbarExample', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			.container
				.wrapper
					span.square.individual
						a.ninth.before.after(href='#') TellUS
				#navbarExample.collapse.navbar-collapse
					ul.navbar-nav.ml-auto
						li.nav-item.naveffect
							a.nav-link(href='#')
								span(data-hover='Home') Home
						li.nav-item.naveffect
							a.nav-link(href='#')
								span(data-hover='About') About
						li.nav-item.naveffect
							a.nav-link(href='#')
								span(data-hover='Services') Services
						li.nav-item.naveffect
							a.nav-link(href='#')
								span(data-hover='Contact') Contact
								
	block body