doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		title TellUs
		// Bootstrap core CSS
		link(rel='stylesheet', href='/static/css/bootstrap.min.css')
		link(rel='stylesheet', href='/static/css/style.css')
		link(rel='icon', href='/static/images/icon.png')
		link(rel='stylesheet', href='/static/css/toastr.css' )

		link(href='static/css/font-awesome.min.css' rel='stylesheet' type='text/css')

		//- <!-- Plugin CSS -->
		link(href='static/css/magnific-popup.css', rel='stylesheet')

		//- <!-- Theme CSS -->
		link(href='static/css/creative.css', rel='stylesheet')

		// Custom styles for this template
		// Temporary navbar container fix
		style.
			.navbar-toggler {
			z-index: 1;
			}
			@media (max-width: 576px) {
			nav > .container {
			width: 100%;
			}
			}

	body
		nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse.bg-inverse
			button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarExample', aria-controls='navbarExample', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			.container
				.wrapper
					span.square.individual
						a.ninth.before.after(href='/') TellUS
				#navbarExample.collapse.navbar-collapse
					ul.navbar-nav.ml-auto
						if user
							li.nav-item.naveffect
								a.nav-link(href='/users/'+user.username)
									span.blue(data-hover=user.username)=user.username
							//- li.nav-item.naveffect
							//- 	a.nav-link(href='/users/settings')
							//- 		span.blue(data-hover='Settings') Settings
						else
							li.nav-item.naveffect
								a.nav-link(href='/auth/login')
									span(data-hover='Login') Login
							li.nav-item.naveffect
								a.nav-link(href='/auth/register')
									span(data-hover='Register') Register
						li.nav-item.naveffect
							a.nav-link(href='/about/')
								span(data-hover='About') About
						li.nav-item.naveffect
							a.nav-link(href='#')
								span(data-hover='Services') Services
						li.nav-item.naveffect
							a.nav-link(href='#')
								span(data-hover='Contact') Contact
		
								
	block body

	// Footer
	footer.py-5.bg-inverse
		.container
			p.m-0.text-center.text-white Copyright © Tell Us 2017
	// Toastr js
	script(src='/static/js/toastr.js')
	// Bootstrap core JavaScript
	script(src='/static/js/jquery.min.js')
	script(src='/static/js/tether.min.js')
	script(src='/static/js/bootstrap.min.js')