extends shared/_master

block body
    header.masthead
      .overlay
        .container
          //- h1.display-1.text-white About us
          //- h2.display-4.text-white Allways on your service
    section
      .container
        .row.align-items-center
          .col-md-6.push-md-6
            .p-5
              img.img-fluid.rounded-circle(src='/static/images/people/mk.jpg', alt='')
          .col-md-6.pull-md-6
            .p-5
              h2.display-4 Martin Kamenov
              h2.display-4  (Мартин Каменов) 
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
    section
      .container
        .row.align-items-center
          .col-md-6
            .p-5
              img.img-fluid.rounded-circle(src='/static/images/people/gg.jpg', alt='')
          .col-md-6
            .p-5
              h2.display-4 Georgi Grozdanov
              h2.display-4 ( Георги Грозданов )
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
    section
      .container
        .row.align-items-center
          .col-md-6.push-md-6
            .p-5
              img.img-fluid.rounded-circle(src='/static/images/people/telerik.jpg', alt='')
          .col-md-6.pull-md-6
            .p-5
              h2.display-4 Teleric Academy Mentors (the third secret player)
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.