extends shared/_master

block body
    // Page Content
    .container
        // Page Heading
        h1.my-4
            | Categories
            //small Secondary Text
        each category in showcategories
            // Project One
            .row
                .col-md-5
                    a(href='/Posts/'+category.title)
                        h3=category.title
                        .wrapper
                            span.square.individual
                                img.ninth.before.after(src="/static/images/categories/"+category.title+".jpg", height="200", width="400")
            // /.row
            hr
        
        // Pagination
        ul.pagination.justify-content-center
            li.page-item
                a.page-link(href='?page=1', aria-label='Previous')
                    span(aria-hidden='true') «
                    span.sr-only Previous
            each pageN in navigationNumbers
                li.page-item
                    a.page-link(href='?page='+(pageN))=pageN
            li.page-item
                a.page-link(href='?page='+(pagesNum), aria-label='Next')
                    span(aria-hidden='true') »
                    span.sr-only Next
    // /.container